@media screen and (min-width:769px) and (max-width:1300px) {
    .award_section
    {
        font-size: 14px !important;
    }

}
@media screen  and (max-width:768px)
{
    .heading
    {
        font-size: 32px !important;
    }
    .bookanappointed
    {
        font-size:16px;
    }
    .testimonial{
        height: 100%;
    }
    .testimonial .img-circle{
        margin: auto;
        width: 150px !important;
    }
    .header{
        padding:0px;
        background-color: transparent !important;
    }
    .navbar-collapse
    {
        margin:0px;
    }
    .navbar_phone
    {
        font-size:16px;
        display: block;
        width:100%;
        color:white;
        background-color:#050156eb;
        text-align: center;
        padding:5px 0px;
    }
    .navbar_phone a{

        color:white;
    }
    .socialmedia a
    {
        font-size:30px;
        margin:0px 10px;
    }
    #mySidenav
    {
        display: block;
    }
    .navbar-brand
    {
        display: none !important;
    }
    .navbar-toggler:active
    {
        background-color: #ffffffbf;
    }
    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #00012de8;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
    }
    
    .sidenav a {
        padding: 8px 8px 8px 16px;
        text-decoration: none;
        font-size: 20px;
        color:#ffcb50 !important;
        display: block;
        transition: 0.3s;
    }
    
    .sidenav a:hover {
        color: #f1f1f1;
    }
    #submenu .nav-link {
        font-size:14px;
    }

    .submenu_of_submenu
    {
        margin-left:10%;
    }
    .submenu_of_submenu a
    {
        font-size:12px !important;
        padding:8px !important;
    }
    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }
    #mySidenav .glyphicon-plus
    {
        float:right;
    }
    #mySidenav .col-xs-10, #mySidenav .col-xs-2
    {
        padding:0px !important;
    }
    .award_section
    {
        display:none !important;
    }
    .address_section{
        display:none;
    }
    .desktop_logo
    {
        display:none !important;
    }
    .mobile_logo{
        display: block;
        width:150px;
        float: right;
        margin: 5%;
    }
    .navbar{
        padding-bottom: 8px !important;
    }
    .navbar-toggler
    {
        background-color: transparent;
        position: absolute;
        left: 0px;
        cursor: pointer;
    }
    .icon-bar
    {
        width: 35px;
        height: 3px;
        background-color: black;
        margin: 8px 0;
    }
    .icon_div:nth-child(odd)
    {
        clear:left;
    }
    /* hexagon design */

    .hexagon
    {
        width: 140px;
        height: 65px;
    }
    .hexagon:before, .hexagon:after
    {
        border-left: 70px solid transparent;
        border-right: 70px solid transparent;
    }
    .first1{
            top:10px !important;
            left:5% !important;
    }
    .second{
        top: 10px !important;
        right: 5% !important;
        left: auto !important;
    }
    .third{
        top: 170px !important;;
        left: 5% !important;;
    }
    .fourth{
        top: 170px !important;;
        left: auto !important;;
        right:5% !important;;
    }
    .fifth{
        top: 330px !important;;
        left: 5% !important;;
    }
    .sixth{
        top: 330px !important;;
        left:auto !important;;
        right: 5% !important;;
    }
    .first{
        background-position: left !important;
    }
    .first1::before {
        border-bottom: 40.74px solid #0368ff61;
        
    }
    .first1::after{
        border-top:  40.74px solid  #0368ff61;
    }
    .second::before {
        border-bottom: 40.74px solid  #11abb394;
        
    }
    .second::after{
        border-top: 40.74px solid  #11abb394;
    }
    
    .third::before {
        border-bottom: 40.74px solid  #010c5f8c
        
    }
    .third::after{
        border-top: 40.74px solid  #010c5f8c
    }
    .fourth::before {
        border-bottom: 40.74px solid  #37a8ea73
        
    }
    .fourth::after{
        border-top: 40.74px solid  #37a8ea73
    }
    .fifth::before {
        border-bottom: 40.74px solid  #0591c38c
        
    }
    .fifth::after{
        border-top: 40.74px solid  #0591c38c
    }
    .sixth::before {
        border-bottom: 40.74px solid  #0038b191
        
    }
    .sixth::after{
        border-top: 40.74px solid  #0038b191
    }
    .hexa_text
    {
        font-size:14px;
        top:5%;
    }
    .hexa_text:hover{
        transform: scale(1.1);
        font-size: 16px;
    }

    /* hexagon design ends */
    /* contact form design */
    .contact_form .input-field input, .contact_form .input-field textarea
    {
        width:100%;
    }
    #footer ul{
        padding:0px;
    }
    .testimonial_block
    {
        width:90%;
    }
    #footer .row div:nth-child(3)
    {
        clear:left;
    }
    #footer .row div:last-child .fab{
        margin:5px;
    }
    .gallery_bg
    {
        padding:0px;
    }
}
